<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Log in
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
  <ion-list>
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input formControlName="name"></ion-input>  
    </ion-item>
    <div *ngFor="let error of errorMessages.name">
      <ng-container *ngIf="name.hasError(error.type) && (name.dirty || name.touched)">
        <small class="error-message">{{error.message}}</small>
      </ng-container>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-input formControlName="pin1" type="password" class="txt-center" placeholder="X" maxlength="1"></ion-input>  
          </ion-item>
          <div *ngFor="let error of errorMessages.pin1">
            <ng-container *ngIf="pin1.hasError(error.type) && (pin1.dirty || pin1.touched)">
              <small class="error-message">{{error.message}}</small>
            </ng-container>
          </div>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-input formControlName="pin2" type="password" class="txt-center" placeholder="X" maxlength="1"></ion-input>  
          </ion-item>
          <div *ngFor="let error of errorMessages.pin2">
            <ng-container *ngIf="pin2.hasError(error.type) && (pin2.dirty || pin2.touched)">
              <small class="error-message">{{error.message}}</small>
            </ng-container>
          </div>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-input formControlName="pin3" type="password" class="txt-center" placeholder="X" maxlength="1"></ion-input>  
          </ion-item>
          <div *ngFor="let error of errorMessages.pin3">
            <ng-container *ngIf="pin3.hasError(error.type) && (pin3.dirty || pin3.touched)">
              <small class="error-message">{{error.message}}</small>
            </ng-container>
          </div>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-input formControlName="pin4" type="password" class="txt-center" placeholder="X" maxlength="1"></ion-input>  
          </ion-item>
          <div *ngFor="let error of errorMessages.pin4">
            <ng-container *ngIf="pin4.hasError(error.type) && (pin4.dirty || pin4.touched)">
              <small class="error-message">{{error.message}}</small>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>

  <ion-button [disabled]="!loginForm.valid" expand="full" (click)="login()">Log in</ion-button>
</form>
</ion-content>
